<?xml version="1.0"?>

<!--
    Lightweight and simple local planning package for straight motion
-->

<launch>
    <node pkg="move_basic" type="move_basic" respawn="false" name="move_basic" output="screen">
        <rosparam file="$(find fobots)/param/move_basic.yaml" command="load" />
    </node>
</launch>