<?xml version="1.0"?>

<!--
    Publishing base_frame(robot's center) and map (robot's position on a map) using tf2 package for broadcasting
-->

<launch>
    <node pkg="robot_pose_publisher" name="robot_pose_publisher" type="robot_pose_publisher" respawn="false" output="screen">
       <param name="base_frame" value="base_footprint"/>
       <param name="map_frame" value="map"/>
    </node>
</launch>
